@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@




<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .btn {
        border-radius: 0 !important;
        border: none !important;
    }
</style>



<div class="row">
    <section class="vh-100">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="~/images/login.svg" class="img-fluid" alt="Phone image">

                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 col-sm-6 offset-xl-1">
                    <form id="account" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="Email">Email address</label>

                            <input type="email" id="Email" asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter Your e-Mail..." />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="Password">Password</label>

                            <input type="password" id="Password" asp-for="Input.Password" placeholder="Enter Password" class="form-control form-control-lg" />
                        </div>

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>

                            </div>


                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>

                        </div>

                        <div class="form-group">
                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a New User</a>
                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

