@model IEnumerable<OnlineTicketSystem.ViewModels.AllTicketViewModel>
@inject SignInManager<ApplicationUser> SignInManager


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">







<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All Tickets <span class="badge bg-dark">@Model.Count()</span></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Open Tickets <span class="badge bg-dark">@Model.Where(x => x.StatusID == 1).Count()</span></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Closed Tickets <span class="badge bg-dark">@Model.Where(x => x.StatusID == 2).Count()</span></button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-reopen-tab" data-bs-toggle="pill" data-bs-target="#pills-reopen" type="button" role="tab" aria-controls="pills-reopen" aria-selected="false">Re-Opened Tickets <span class="badge bg-dark">@Model.Where(x => x.StatusID == 3).Count()</span></button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending" type="button" role="tab" aria-controls="pills-pending" aria-selected="false">Pending Tickets <span class="badge bg-dark">@Model.Where(x => x.StatusID == 4).Count()</span></button>
    </li>


</ul>
<hr />
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <table id="allTicketTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Group</th>
                    <th>Assign To</th>
                    <th>Support Given By</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.CreatedTime))
                {
                    <tr>
                        <td>@item.TicketID</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.GroupName</td>
                        <td>
                            @if (item.AssignedTo != null)
                            {
                                @item.AssignedTo
                            }
                            else
                            {
                                <span>Not Assigned..</span>
                            }


                        </td>

                        <td>
                            @if (item.SupportGivenBy != null)
                            {
                                <span class="badge bg-success">@item.SupportGivenBy</span>

                            }
                            else
                            {
                                <span>No Data Available</span>
                            }
                        </td>

                        <td>
                            <a asp-action="GiveSupport" asp-controller="HelpDesk" asp-route-user="@item.CreatedBy">Give Support</a>

                        </td>
                    </tr>


                }
            </tbody>
        </table>

    </div>


    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        <table id="openTicketTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Group</th>
                    <th>Assign To</th>
                    <th>Support</th>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <th>Assign</th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.StatusID == 1).OrderBy(x => x.CreatedTime))
                {
                <tr>
                    <td>@item.TicketID</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedTime</td>
                    <td>@item.GroupName</td>
                    <td>
                        @if (item.AssignedTo != null)
                        {
                            @item.AssignedTo
                        }
                        else
                        {
                            <span>Not Assigned..</span>
                        }


                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" asp-action="GiveSupport" asp-controller="HelpDesk" asp-route-user="@item.CreatedBy">Give Support</a>

                    </td>

                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="AssignTicketToAgentByAdmin" asp-controller="HelpDesk" asp-route-ticketid="@item.TicketID" asp-route-id="@item.GroupID">Assign Agent</a>

                        </td>
                    }
                    </tr>


                }
            </tbody>
        </table>



    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

        <table id="closedTicketTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Group</th>
                    <th>Assign To</th>
                    <th>Support Given By</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.StatusID == 2).OrderBy(x => x.CreatedTime))
                {
                    <tr>
                        <td>@item.TicketID</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.GroupName</td>
                        <td>
                            @if (item.AssignedTo != null)
                            {
                                @item.AssignedTo
                            }
                            else
                            {
                                <span>Not Assigned..</span>
                            }


                        </td>

                        <td>
                            @if (item.SupportGivenBy != null)
                            {
                                <span class="badge bg-success">@item.SupportGivenBy</span>

                            }
                            else
                            {
                                <span>No Data Available</span>
                            }
                        </td>
                        <td>
                            <a asp-action="GiveSupport" asp-controller="HelpDesk" asp-route-user="@item.CreatedBy">Check History</a>

                        </td>
                    </tr>


                }
            </tbody>
        </table>


    </div>


    <div class="tab-pane fade" id="pills-reopen" role="tabpanel" aria-labelledby="pills-reopen-tab">

        <table id="reOpenTicketTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Group</th>
                    <th>Assign To</th>
                    <th>Support Given By</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.StatusID == 3).OrderBy(x => x.CreatedTime))
                {
                    <tr>
                        <td>@item.TicketID</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.GroupName</td>
                        <td>
                            @if (item.AssignedTo != null)
                            {
                                @item.AssignedTo
                            }
                            else
                            {
                                <span>Not Assigned..</span>
                            }


                        </td>

                        <td>
                            @if (item.SupportGivenBy != null)
                            {
                                <span class="badge bg-success">@item.SupportGivenBy</span>

                            }
                            else
                            {
                                <span>No Data Available</span>
                            }
                        </td>
                        <td>
                            <a asp-action="GiveSupport" asp-controller="HelpDesk" asp-route-user="@item.CreatedBy">Give Support</a>

                        </td>
                    </tr>


                }
            </tbody>
        </table>


    </div>



    <div class="tab-pane fade" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">

        <table id="pendingTicketTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Created By</th>
                    <th>Created Time</th>
                    <th>Group</th>
                    <th>Assign To</th>
                    <th>Support Given By</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x => x.StatusID == 4).OrderBy(x => x.CreatedTime))
                {
                    <tr>
                        <td>@item.TicketID</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.GroupName</td>
                        <td>
                            @if (item.AssignedTo != null)
                            {
                                @item.AssignedTo
                            }
                            else
                            {
                                <span>Not Assigned..</span>
                            }


                        </td>

                        <td>
                            @if (item.SupportGivenBy != null)
                            {
                                <span class="badge bg-success">@item.SupportGivenBy</span>

                            }
                            else
                            {
                                <span>No Data Available</span>
                            }
                        </td>
                        <td>
                            <a asp-action="GiveSupport" asp-controller="HelpDesk" asp-route-user="@item.CreatedBy">Give Support</a>

                        </td>
                    </tr>


                }
            </tbody>
        </table>


    </div>


</div>





@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#allTicketTable').DataTable();

            $('#openTicketTable').DataTable();

            $('#closedTicketTable').DataTable();


            $('#reOpenTicketTable').DataTable();

            $('#pendingTicketTable').DataTable();
        });

    </script>

}