@model IEnumerable<OnlineTicketSystem.Models.Ticket>

@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.2.0/select2-bootstrap-5-theme.css" />


<style>
    :root {
        --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        --msger-bg: #fff;
        --border: 2px solid #ddd;
        --left-msg-bg: #ececec;
        --right-msg-bg: #579ffb;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    /*   body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: var(--body-bg);
        font-family: Helvetica, sans-serif;
    }*/

    .msger {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        max-width: 867px;
        margin: 25px 120px;
        height: calc(100% - 50px);
        border: var(--border);
        border-radius: 5px;
        background: var(--msger-bg);
        box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    }

    .msger-header {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: var(--border);
        background: #eee;
        color: #666;
    }

    .msger-chat {
        /*flex: 1;*/
        padding: 10px;
        height: 320px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .msger-chat::-webkit-scrollbar {
            width: 6px;
        }

        .msger-chat::-webkit-scrollbar-track {
            background: #ddd;
        }

        .msger-chat::-webkit-scrollbar-thumb {
            background: #bdbdbd;
        }

    .msg {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

        .msg:last-of-type {
            margin: 0;
        }

    .msg-img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background: #ddd;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }

    .msg-bubble {
        max-width: 450px;
        padding: 15px;
        border-radius: 15px;
        background: var(--left-msg-bg);
    }

    .msg-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .msg-info-name {
        margin-right: 10px;
        font-weight: bold;
    }

    .msg-info-time {
        font-size: 0.85em;
    }

    .left-msg .msg-bubble {
        border-bottom-left-radius: 0;
    }

    .right-msg {
        flex-direction: row-reverse;
    }

        .right-msg .msg-bubble {
            background: var(--right-msg-bg);
            color: #fff;
            border-bottom-right-radius: 0;
        }

        .right-msg .msg-img {
            margin: 0 0 0 10px;
        }

    .msger-inputarea {
        display: flex;
        padding: 10px;
        border-top: var(--border);
        background: #eee;
    }

        .msger-inputarea * {
            padding: 10px;
            border: none;
            border-radius: 3px;
            font-size: 1em;
        }

    .msger-input {
        flex: 1;
        background: #ddd;
    }

    .msger-send-btn {
        margin-left: 10px;
        background: rgb(0, 196, 65);
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.23s;
    }

        .msger-send-btn:hover {
            background: rgb(0, 180, 50);
        }

    .msger-chat {
        background-color: #fcfcfe;
    }

    .ticketId, .add-to-pending {
        cursor: pointer;
    }



 /*   .select2-container--default .select2-selection--multiple {       
        width: 470px;
    }*/
/**/
   

</style>

@if (Model != null)
{
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> Online Ticket System
            </div>
            <div class="msger-header-options">

            </div>
        </header>
        <main class="msger-chat">
            @foreach (var message in Model)
            {
                @*<div data-toggle="modal" data-target="#exampleModalCenter" id="@message.TicketID" class="ticketId label-success p-2 text-center text-white"><span class="badge badge-success">Click Here To Continue Conversation Against :  @message.TicketID</span></div>*@

                @if (message.Status.StatusName == "Open")
                {
                    <div class="label-success p-2 text-center text-white">
                        <span class="badge bg-success">Ticket ID :  @message.TicketID , Status : @message.Status.StatusName , Support Group : @message.Group.GroupName</span>
                        <span title="Click Here To Solve This Ticket.." data-bs-toggle="modal" data-bs-target="#exampleModal" id="@message.TicketID" class="badge bg-warning ticketId text-white">Provide Support</span>
                        <span title="Click Here to add in pending list" data-val="@message.TicketID" class="badge bg-primary add-to-pending">Add To Pending</span>
                    </div>
                }
                else if (message.Status.StatusName == "Re-Opened")
                {
                    <div class="label-success p-2 text-center text-white">
                        <span class="badge bg-success">Ticket ID :  @message.TicketID , Status : @message.Status.StatusName , Support Group : @message.Group.GroupName</span>
                        <span title="Click Here To Solve This Ticket.." data-bs-toggle="modal" data-bs-target="#exampleModal" id="@message.TicketID" class="badge bg-warning ticketId text-white">Provide Support</span>
                        <span title="Click Here to add in pending list" data-val="@message.TicketID" class="badge bg-primary add-to-pending">Add To Pending</span>

                    </div>
                }
                else if (message.Status.StatusName == "Pending")
                {
                    <div class="label-success p-2 text-center text-white">
                        <span class="badge bg-success">Ticket ID :  @message.TicketID , Status : @message.Status.StatusName , Support Group : @message.Group.GroupName</span>
                        <span title="Click Here To Solve This Ticket.." data-bs-toggle="modal" data-bs-target="#exampleModal" id="@message.TicketID" class="badge bg-warning ticketId text-white">Provide Support</span>
                    </div>
                }
                else
                {
                    <div id="@message.TicketID" class="label-success p-2 text-center text-white">
                        <span class="badge bg-success">Ticket ID :  @message.TicketID , Status : @message.Status.StatusName , Support Group : @message.Group.GroupName</span>
                    </div>
                }

                @foreach (var msg in message.TicketMessages.OrderBy(x => x.MessageTime))
                {


                    @if (msg.UserName == ViewBag.Support)
                    {

                        <div class="msg right-msg">

                            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                            {
                                <div class="msg-img"
                                     style="background-image: url(data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture)))"></div>
                            }
                            else
                            {
                                <div class="msg-img"
                                     style="background-image: url(https://www.svgrepo.com/show/110246/robot.svg)"></div>
                            }


                            <div class="msg-bubble">
                                <div class="msg-info">
                                    <div class="msg-info-name">@msg.UserName (You)</div>
                                    <div class="msg-info-time">@msg.MessageTime</div>
                                </div>

                                <div class="msg-text">
                                    @msg.MessageBody
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        var photoPath = "~/images/" + msg.PhotoPath;
                        <div class="msg left-msg">


                            <div class="msg-img"
                                 style="background-image: url(https://cdn-icons-png.flaticon.com/512/149/149071.png)"></div>

                            <div class="msg-bubble">
                                <div class="msg-info">
                                    <div class="msg-info-name">@msg.UserName</div>
                                    <div class="msg-info-time">@msg.MessageTime</div>
                                </div>

                                <div class="msg-text">
                                    @msg.MessageBody
                                    <br />
                                    @if (msg.PhotoPath != null)
                                    {
                                        <img style="width:150px; height:150px;" src="@photoPath" asp-append-version="true" />

                                    }

                                </div>
                            </div>
                        </div>

                    }

                }

            }
        </main>

        <div>
            <div>
                <select class="form-control statesSelect group" multiple asp-items="@ViewBag.CategoryID">
                    <option value="">--Select Support Category--</option>
                </select>
               
            </div>

            <div class="msger-inputarea">
                <textarea id="message" class="msger-input" placeholder="Enter Your Message.." required rows="1"> </textarea>
                <button id="btnSendMsg" type="submit" class="msger-send-btn">Send</button>
            </div>
        </div>
    </section>
}





<!-- Modal -->
<div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Write Your Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea required id="textMessage" class="form-control"></textarea> <br />
                <select class="form-control statesSelect group" multiple asp-items="@ViewBag.CategoryID">
                    @*<option value="">--Select Support Category--</option>*@
                </select>
            </div>
            <div class="modal-footer">
                <button id="sendSingleMessage" class="btn btn-success">Send Message & Close Ticket</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        var e = document.getElementById("groupSelect");



        $(document).ready(function () {

            $(".statesSelect").select2({                 
            });

            $("select").select2({
                theme: "bootstrap-5",
                tags: true,
                placeholder: "-----Select Support Category-----",
                
            });



            $(".msger-chat").scrollTop($(".msger-chat")[0].scrollHeight);


            $(".ticketId").click(function () {
                var tickId = $(this).attr('id');
                console.log('this is ticke ' + tickId);



                $("#sendSingleMessage").click(function () {

                    //var selectedGroupId = $("#groupSelect option:selected").val();
                    //console.log(selectedGroupId);

                    var selectedValues = [];
                    $(".group :selected").each(function () {
                        selectedValues.push($(this).val());
                    });
                    //alert(selectedValues);


                    var msg = $("#textMessage").val();

                     $.ajax({
                        url: '@Url.Action("SupportMessageSend", "HelpDesk")',
                        method: "POST",
                        dataType: "json",
                        data: {
                            ticketId: tickId,
                            message: msg,
                            categoryType: selectedValues,

                },
                    success: function (data) {
                        toastr.success('Message Sent...');
                        $("#message").empty();
                        location.reload(true);
                        console.log(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
        })

                })

            })


            $("#btnSendMsg").click(function () {

                //var selectedGroup = $("#group option:selected").val();

                var selectedValues = [];
                $(".group :selected").each(function () {
                    selectedValues.push($(this).val());
                });
                //alert(selectedValues);

                var tickId = $('.msger-chat .ticketId').last().attr('id');

                var msg = $("#message").val();

            $.ajax({
            url: '@Url.Action("SupportMessageSend", "HelpDesk")',
            method: "POST",
            dataType: "json",
            data: {
                ticketId: tickId,
                message: msg,
                categoryType: selectedValues,
            },
            success: function (data) {
                toastr.success('Message Sent...');
                $("#message").empty();
                location.reload(true);
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
            })


            //$(".add-to-pending").click(function () {
            //    var value = $(".add-to-pending").data("val");
            //    console.log(value);


            //})


            $('.add-to-pending').on("click", function () {
                var tickId = $(this).attr("data-val");

                $.ajax({
                    url: '@Url.Action("MakeTicketPending", "HelpDesk")',
                    method: "POST",
                    dataType: "json",
                    data: {
                        ticketId: tickId,
                    },
                    success: function (data) {
                        location.reload(true);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })

            });

        })
        
    </script>

}
